<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 appLeftPanel">
            <ul class="nav ">
                <li class=""><a href="/">Auth User</a></li>
                <li class=""><a href=#>Configuration</a></li>
            </ul>
        </div>
        <div class="col-md-10 appRightPanel">
            <div class="col-md=12 appRightPanelHeader">Configuration</div>
            <div class="clearfix"></div>

            <ul class="nav ">
                <li class=""><a href="/jobPostAutomation">Elance Job Posting Automation</a></li>

            </ul>
        </div>
    </div>
</div>






